<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Proyecto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if (usuario) {%>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Personas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/personas">Lista de Personas</a></li>
                <li><a class="dropdown-item" href="/personas/create">Crear Persona</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Usuarios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/usuarios">Lista de Usuarios</a></li>
                <li><a class="dropdown-item" href="/usuarios/create">Crear Usuario</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <%=usuario.email%>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
              </ul>
            </li>
            <% } else {%>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuarios/create">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Iniciar sesión</a>
              </li>
              <% } %>
        </ul>
        <form class="d-flex" role="search" onsubmit="return doSearch(event)">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
          <div id="searchResults" class="dropdown-menu" aria-labelledby="searchInput"></div>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>