<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/popper/popper.min.js"></script>
    <script
      type="text/javascript"
      src="/js/bootstrap/bootstrap.min.js"
    ></script>
  </head>
  <body>
    <h1><%= title%></h1>
  </body>
</html>
